<link rel="stylesheet" href="/css/signup.css">


    <div class="box">
        <div class="signin">
            <a href="/users/signin">Already a member</a>
        </div>
   
        <div class="signup">
            <h2 id="signupp">Sign up</h2>
            <form action="">
               <div class="inpts"> <input type="text" name="name" required placeholder="Your Name" class="inpt"> </div>
                <div class="inpts"><input type="email" name="email" required placeholder="Your Email" class="inpt"></div>
               <div class="inpts"> <input type="password" name="password" required placeholder="Enter Pssword" class="inpt"></div>
               <div class="inpts"> <input type="password" name="c-password" required placeholder="Re-enter Password" class="inpt"></div>
               <div class="but"> <input type="submit" value="SignUp" class="butt">
            </form>
        </div>
        <div class="picture">
            
        </div>
        
  
    </div>
    
